{% extends 'base.html' %}

{% block title %} Account Activation {% endblock title %}
{% block main-content %}
<div class="activation_link">
	<h4>Your account is activated.Please <a href="{% url 'home' %}">login</a> </h4>
</div>
{% endblock main-content %}