{% extends 'base.html' %}

{% block title %} Change password {% endblock title %}
{% block main-content %}
<div class="changepwheader">
	<div class="page-header">
		<h4>Change password</h4>
	</div>
	<div class="container">
		<div class="changepass">
			<form id="changepassform" method="post" action="" class="form-horizontal" role="form">
				{% csrf_token %}
				<div class="col-md-offset-5"> 
		    		<div class="form-group">
						<div class="row">
						<!-- {% if form.errors %} -->
			                <div class="alert alert-error">
			                    <a class="alert-a" data-dismiss="alert"><i class="icon-remove-sign"></i></a>
			                <!-- <div class="error">{{ form.non_field_errors }}</div> -->
                			</div>
            			<!-- {% endif %} -->
            				<input type="hidden" name="user_" value="{{ user.id }}">
							<label for="psw">Current Password</label>
							<input type="password" name="current_password" class="form-control" id="current_password" placeholder="Enter current password" required>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label for="psw">New Password</label>
							<input type="password" name="new_password" class="form-control" id="new_password" placeholder="Enter new password
							" required>
							<!-- {% if form.confirm_password.errors %} -->
                            	<!-- <span class="error">{{ form.confirm_password.errors }}</span> -->
                        	<!-- {% endif %} -->
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label for="psw">Confirm Password</label>
							<input type="password" name="confirm_password" class="form-control" id="confirm_password" placeholder="confirm password" required>
						</div>
					</div>
					<div class="submitbutton">
						<div class="col-md-offset-1">
							<button type="submit" class="btn btn-info" id="submit">Submit</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock main-content %}
