{% extends 'base.html' %}

{% block title %} Change Password request{% endblock title %}
{% block main-content %}
<form method="post" action="/frontend/password_setting_for_forgotpassword/{{obj.hashkey}}/">
	{% csrf_token %}
	<div class="forgotpasswordpage" style="margin-top:114px">
	<label for="">Enter New Password</label>
	<input type="text" name="password" id="password"></input>
	<label for="">Confirm Password</label>
	<input type="text" name="confirm_password" id="confirm_password"></input>
	<input type="submit" value="change password" id="newpasswdbtn">
	</div>
</form>
{% endblock main-content %}