{% extends 'base.html' %}

{% block title %} Home {% endblock title %}
{% block main-content %}
    <!-- Page Content -->
<header>
        <div class="header-content">
            <div class="header-content-inner">
                <div class="col-lg-6 col-lg-offset-3">
                    <div id="imaginary_container"> 
                        <form method="GET" class="form" role="form" id="searchbar">
                            <div class="input-group stylish-input-group">
                                <input type="text" class="form-control typeahead"  placeholder="Search" >
                                <span class="input-group-addon">
                                    <button class="glyphicon glyphicon-search search-btn1"></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</header>
<div class="suggestioncontent">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-5">
                <h2><b>More Suggestions</b></h2>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Grid Section -->
<section class="moreimages">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img id="img1" src="/static/img/images2.jpg">
            </div>
            <div class="col-lg-4">
                <img id="img2" src="/static/img/images2.jpg">
            </div>
            <div class="col-lg-4">
                <img id="img3" src="/static/img/images2.jpg">
            </div>
        </div>
    </div>
</section>


{% endblock main-content %}
