{% extends 'base.html' %}

{% block title %} My Bookings {% endblock title %}
{% block main-content %}
<!-- Authorized user my booking page -->
<div class="mybookingcontent">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-5">
                <h2>Details of Bookings</h2>
            </div>
        </div>
    </div>
</div>
<!-- table to show the list of bookings -->
<div class="bookinglist">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="container">
					<div class="table-responsive">          
						<table class="table">
							<thead>
							  <tr>
							    <th>Sr no</th>
							    <th>Name</th>
							    <th>Booking Date</th>
							    <th>Location</th>
							    <th>No. of People</th>
							    <th>Menu</th>
							    <th>Contact No</th>
							    <th>Email</th>
							    <th>Options</th>
							  </tr>
							</thead>
							<tbody>
								{% for i in booking_objects %}
									<tr class="book_obj">
										<input type="hidden" class="user1" value="{{user.id}}">
										<td class="" value="{{i.id}}">{{ i.id }}</td>
										<td class="name1" value="{{i.booking_name}}">{{ i.booking_name }}</td>
										<td class="date1" value="{{i.date|date:'m/d/Y'}}">{{ i.date|date:'m/d/Y' }}</td>
										<td class="location1" value="{{i.venue.id}}">{{ i.venue.name }}</td>
										<td class="no_people1" value="{{i.totalguest}}">{{ i.totalguest }}</td>
										<td class="menu1" value="{{i.menu}}">{{ i.menu }}</td>
										<td class="contact1" value="{{i.booking_no}}">{{ i.booking_no }}</td>
										<td class="email1" value="{{i.booking_email}}">{{ i.booking_email }}</td>
										<td>
											<button class="btn btn-info update_booking" data-toggle="modal" data-target="#updatebookingModal" data-id="{{i.id}}" >Update</button>
											<button class="btn btn-info" type="submit">Cancel</button>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Paginator Page
 -->
 {% if is_paginated %}
<div class="pagination">
    <ul>
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% else %}
            <li><a href="#">previous</a></li>
        {% endif %}

        {% for page in page_obj.paginator.page_range %}
            {% if page == current_page %}
                <li>{{ page }}</li>
            {% else %}
                <li><a href="?page={{ page }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">next</a></li>
        {% else %}
            <li><a href="#">next</a></li>
        {%endif%}
    </ul>
</div>
{% endif %}
<!-- Updating Modal -->
<div class="modal fade col-md-offset-1" id="updatebookingModal" tabindex="-1" role="dialog" aria-labelledby="
 exampleModalLabel">
		<div class="modal-dialog" role="document">
		<div class="modal-content col-md-8">
 			<div class="modal-header">
    			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    				<span aria-hidden="true">&times;</span>
    			</button>
    			<h4 class="modal-title col-lg-offset-2" id="exampleModalLabel">Thanks for choosing BookMyEventz!!</h4>
  			</div>
  			<div class="modal-body">
				<form action="#" method="post" class="updatebookingform" role="form" id="updatebooking">
					<div class="sucess_msg1">
	        		</div>
					{% csrf_token %}
					<input type="hidden" class="venue_id" value="">
	            	<div class="form-group">
	            		<div class="row">
							<div class="col-md-3">
								<label class="control-label">Date</label>
							</div>
							<div class="form-group">
								<div class="col-md-12">
					                <div class='input-group date' id='datepicker1'>
					                    <input type='text' class="form-control date2" name="date" id="date"/>
					                    <span class="input-group-addon">
					                        <span class="glyphicon glyphicon-calendar"></span>
					                    </span>
					                </div>
								</div>
				            </div>
						</div>
					</div>	
	                <div class="form-group">
	                	<label class="control-label">No of Guests</label>
	                    <input class="form-control guest2" name="totalguest" placeholder="Guests Expectedsss" type="text" id="totalguest" required />
	                </div>
	                <div class="form-group">
	                	<label class="control-label">Menu</label>
		                <ul class="list-unstyled">
	            			<div class="radio" id="menu2">
	            				<div class="row">
					               <div class="col-lg-4">
					                	<label>
					                		<input type="radio" class="menu" name="menu" id="veg" value="Veg">Veg
					                	</label>
					               </div>
					               	<div class="col-lg-4">
					                	<label>
					                		<input type="radio" class="menu" name="menu" id="non-veg" value="Non-Veg">Non-Veg
					                	</label>
					               </div>
	            				</div>
	            			</div>
			            </ul>
		            </div>
		            <div>
		            	<center>
            				<h5><b>Contact Details</b></h5>
		            	</center>
		            </div>
		            <div class="form-group ">
		            		<label class="control-label">Name</label>
		            		<input class="form-control name2" name="booking_name" placeholder="Name" type="email" id="booking_name">
	            	</div>
		            <div class="form-group">
		            	<label class="control-label">Email</label>
		            	<input class="form-control email2" name="booking_email" placeholder="Email" type="email" id="booking_email">
		            </div>
		            <div class="form-group">
		            	<label class="control-label">Mobile No</label>
		            	<input class="form-control contact2" name="booking_no" placeholder="Contact No" type="text" id="booking_no">
		            </div>
		            <input type="hidden" name="venue" class="venue2">
		            <input type="hidden" name="user" class="user2">
		            <div class="form-group">
		            	<center><button class="btn btn-info" type="button" id="updatebutton" >
		                Update</button></center>
		            </div>
    			</form>
    			<div id="result" class="text-success">
    			</div>
  			</div>
		</div>
		</div>
</div>
<!-- Updating Modal ends -->
{% endblock main-content %}
