{% extends 'base.html' %}

{% block title %} Home {% endblock title %}
{% block main-content %}
	<!-- <title></title>
</head>
<body> -->
<div class="page-header">
	<h3>Profile</h3>
</div>

<div class="container">
	<form class="form-horizontal" role="form">
		<div class="labelname">
		<label for="profileimage">Profile image:</label>
		</div>
    	<div class="col-md-5 col-md-offset-1">
		    <div class="form-group">
		    	<div class="row">
	    			<img src="/static/img/Image-not-available.png" alt="" class="img-responsive img-thumbnail" width="220" height="220">
	    		</div>
    		</div>
    		<div class="form-group">
				<div class="row">
		   			 <div class="fileupload fileupload-new" data-provides="fileupload">
						<span class="red-button btn-file">
							<span class="fileupload-new">
								<input type="file" name="file_upload"/>
							</span>
						</span>
					</div>
				</div>
	    	</div>
	  	</div>
	  	<div class="col-md-6">
		  	<div class="form-group">
	      		<label for="FirstName">First Name</label>
	      		<input type="text" name="first_name" class="form-control">
		  	</div>
		  	<div class="form-group">
	      		<label for="lastname">Last Name</label>
	      		<input type="text" name="last_name" class="form-control">
		  		
		  	</div>
		  	<div class="form-group">
	      		<label for="username">User Name</label>
		      	<input type="text" name="user_name" class="form-control">
	  		</div>
		  	<div class="form-group">
	      		<label for="email">Email</label>
		      	<input type="email" name="user_email" disabled="disabled" class="form-control">
	  		</div>
			<div class="form-group">
				<label for="mobilenumber">Mobile No.</label>
			 	<input type="text" name="user_mobile" class="form-control">
	 		</div>
		 	<div class="col-md-6">
				<div class="col-md-offset-10"> 
					<button type="submit" class="btn btn-default btn-info">Update</button>
		 		</div> 
	 		</div>
 		</div>
  	</form>
</div>
<!-- </body>
</html> -->
{% endblock main-content %}
