{% extends 'base.html' %}

{% block title %} Search Results {% endblock title %}
{% block main-content %}
<!-- Authorized user my booking page -->
<div class="mybookingcontent">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-5">
                <h2>Search Results</h2>
            </div>
        </div>
    </div>
</div>
<!-- table to show the list of bookings -->
<div class="bookinglist">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="container">
					<div class="table-responsive">          
						<table class="table">
							<thead>
							  <tr>
							    <th>Sr no</th>
							    <th>Name</th>
							    <th>Address</th>
							    <th>Location</th>
							    <th>Options</th>
							  </tr>
							</thead>
							<tbody>
								{% for i in venue_list %}
									<tr class="book_obj">
										<td class="id" value="">{{ forloop.counter }}</td>
										<td class="name" value="{{i.name}}">{{ i.name }}</td>
										<td class="address1" value="{{i.address1}}{{i.address2}}">{{i.address1}}</td>
										<td class="location" value="{{i.location}}">{{ i.address_location}}</td>
										<td>
											<a href="{% url 'venue_details' i.id %}">
												<span class="btn btn-info " >View</span>
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Paginator Page
 -->
<div class="row">
 {% if is_paginated %}
 	<div class="col-md-offet-6">
		<div class="pagination">
	        {% if page_obj.has_previous %}
	            <a href="?page={{ page_obj.previous_page_number }}">Previous </a>
	        {% else %}
	            <a href="#">First </a>
	        {% endif %}

	        {% for page in page_obj.paginator.page_range %}
	            {% if page == current_page %}
	                {{ page }}
	            {% else %}
	                <a href="?page={{ page }}"> {{ page }}</a>
	            {% endif %}
	        {% endfor %}

	        {% if page_obj.has_next %}
	            <a href="?page={{ page_obj.next_page_number }}"> Next</a>
	        {% else %}
	            <a href="#"> Last</a>
	        {%endif%}
		</div>
	</div>
</div> 

{% endif %}
{% endblock main-content %}
