e{% extends 'base.html' %}

{% block title %} Details {% endblock title %}

{% block main-content %}
<div class="container">
	<div class="thumbnail">
		<div class="row">
			<div class="col-md-4">
	    		<img class="img-responsive" src="/static/img/{{object.venu_pic_1}}" alt="">
			</div>
			<div class="col-md-4">
	    		<img class="img-responsive" src="/static/img/{{object.venu_pic_1}}" alt="">
			</div>
			<div class="col-md-4">
	    		<img class="img-responsive" src="/static/img/{{object.venu_pic_1}}" alt="">
			</div>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table table-hover">
			<tbody>
				<tr>
					<th>Name :</th>
					<td>
						{{object.name}}
					</td>
				</tr>
				<tr>
					<th>Capacity :</th>
					<td>
						{{object.capacity}}
					</td>
				</tr>
				<tr>
					<th>Menu :</th>
					<td>
						{{object.menu}}
					</td>
				</tr>
				<tr>
					<th>Price :</th>
					<td>
						{{object.price}}
					</td>
				</tr>
				<tr>
					<th>Address:</th>
					<td>
						{{object.address1}}
						{{ value|join:" // " }}
						{{object.address2}}
						{{ value|join:" // " }}
						{{object.address3}}
						{{ value|join:" // " }}
						{{object.address4}}
					</td>
				</tr>
				<tr>
					<th>Contact No:</th>
					<td>
						{{object.contact_no}}
					</td>
				</tr>
				<tr>
					<th>Contact No:</th>
					<td>
						{{object.pincode}}
					</td>
				</tr>
				<tr>
					<th>Ratings :</th>
					<td>
						<div class="ratings">
					        <p>
					            <span class="glyphicon glyphicon-star"></span>
					            <span class="glyphicon glyphicon-star"></span>
					            <span class="glyphicon glyphicon-star"></span>
					            <span class="glyphicon glyphicon-star"></span>
					            <span class="glyphicon glyphicon-star-empty"></span>
					        </p>
					    </div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="form-group">
			<div class="col-md-offset-6">
            	<button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#bookingModal" id="btn-booknow">
                Book Now</button>
			</div>
        </div>
	</div>
	</div>

	<!-- Booking Modal -->
		<div class="modal fade col-md-offset-1" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	  		<div class="modal-dialog" role="document">
	    		<div class="modal-content col-md-8">
	     			<div class="modal-header">
	        			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	        				<span aria-hidden="true">&times;</span>
	        			</button>
	        			<div class="header_booknow">
	        				<h4 class="modal-title col-lg-offset-2" id="exampleModalLabel">Thanks for choosing BookMyEventz!!</h4>
	        			</div>

	      			</div>
	      			<div class="modal-body">

						<form action="#" method="post" class="bookingform" role="form">
			            	<div class="form-group">
			            		<div class=" sucess_msg">
	        					</div>
			            		<div class="row">
									<div class="col-md-3">
										<label class="control-label">Date</label>
									</div>
									<div class="form-group">
										<div class="col-md-12">
							                <div class='input-group date' id='datepicker'>
							                    <input type='text' class="form-control" name="date" id="date"read-only/>
							                    <span class="input-group-addon">
							                        <span class="glyphicon glyphicon-calendar"></span>
							                    </span>
							                </div>
										</div>
						            </div>
								</div>
							</div>	
			                <div class="form-group">
			                	<label class="control-label">No of Guests</label>
			                    <input class="form-control" id="totalguest" name="totalguest" placeholder="Guests Expected" type="text" required />
			                </div>
			                <div class="form-group">
			                	<label class="control-label">Menu</label>
				                <ul class="list-unstyled">
			            			<div class="radio">
			            				<div class="row">
							               <div class="col-lg-4">
							                	<label>
							                		<input type="radio" name="menu" class="menu" value="Veg">Veg
							                	</label>
							               </div>
							               	<div class="col-lg-4">
							                	<label>
							                		<input type="radio" class="menu" value="Non-Veg">Non-Veg
							                	</label>
							               </div>
			            				</div>
			            			</div>
					            </ul>
				            </div>
				            <div>
				            	<center>
		            				<h5><b>Contact Details</b></h5>
				            	</center>
				            </div>
				            <div class="form-group ">
				            		<label class="control-label">Name</label>
				            		<input class="form-control" name="booking_name" id="booking_name"placeholder="Name" type="text">
			            	</div>
				            <div class="form-group">
				            	<label class="control-label">Email</label>
				            	<input class="form-control" name="booking_email" id="booking_email" placeholder="Email" type="email">
				            </div>
				            <div class="form-group">
				            	<label class="control-label">Mobile No</label>
				            	<input class="form-control" name="booking_no" id="booking_no" placeholder="Contact No" type="text">
				            </div>
				            <input type="hidden" value="{{user.id}}" name="user" id="user">
				            <input type="hidden" value="{{object.id}}" name="venue" id="venue">
				            <div class="form-group">
				            	<center><button class="btn btn-info" type="button" id="book_now_btn">
				                Book Now</button></center>
				            </div>
	        			</form>
	      			</div>
	    		</div>
	  		</div>
		</div>

          {% endblock main-content %}