/*css for search-bar*/

#imaginary_container{
    margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}	

/*<!-- background image changing -->*/

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 80%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/*profile css start*/
.row label{

    margin-top: 10px;
}
.page-header{
    text-align: center;
    border-bottom:4px solid green;
}
.form-horizontal .labelname label:first-child{
    margin-left: 75px;
}
/*profile css end*/
#datepicker > span:hover {
	cursor: pointer;
}
.mybookingcontent{
    margin-top: 40px;
}
.thumbnail {
    margin-top: 43px;
}
.error{
    color: red;
    font-weight: bold;
    font-size: 14px;
}
/*search result page start*/
.moredetails {
    padding-top: 32px;
    }
.imgbutton {
    float: right;
    height: 35px;
    margin-top: -9px;
    }
.caret {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000000;
    }
.panel a {
    text-decoration: none;
    }
.halllist {
    margin-top: 85px;
}
/*search result page end*/
/*changepassword start*/
.submitbutton #submit{
        margin-left: 17px;      
    }
.changepass .form-control{
        width: 40%;
        margin-top: 10px;
    }
.changepwheader .page-header{
    padding-top: 10px;
}
/*changepassword end*/
/*activation link*/
.activation_link {
    margin-top: 80px;
}

/*activation link end*/
.empty-message { 
    color: black;
    padding-left: 5px;
    
.pagination li{
    display: inline;
}

.pagination ul{
    text-align: center;
}
.tt-dropdown-menu {
    color: #000;
    padding-left: 5px;
}
/*forgotpassword request*/
.forgotpasswordpage {
    margin-top: 114px;
}



/*forgotpassword request end*/