<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}{% endblock title %} | BookMyEvent</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/bootstrap-theme.css">
		<link rel="stylesheet" href="/static/css/typeaheadjs.css" type="text/css"> 
		<link rel="stylesheet" href="/static/css/datepicker.css" media="all">
		<link rel="stylesheet" href="/static/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/css/animate.min.css" type="text/css">
		<link rel="stylesheet" href="/static/css/datepicker.css" media="all">
		<link rel="stylesheet" href="/static/css/creative.css" type="text/css">
		<link rel="stylesheet" href="/static/css/custom-frontend.css" media="all">
		{% block css %}{% endblock css %}
	</head>
	<body id="page-top">
		<!-- Nav-bar -->
		<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-color {% if request.path == '/' %} navbar-trans {% endif %}">
	        <div class="container-fluid">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand page-scroll" href="#page-top">BookMyEvent</a>
	            </div>

	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav navbar-right">
		      			{% if user.is_authenticated %}
		                    <li>
		                    	<a href="{% url 'booking-list' %}">My Bookings
		                    	</a>
		                    </li>
			      			<li class="dropdown">
			      				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome {{user.username}}<b class="caret"></b>
			      				</a>
	              				<ul class="dropdown-menu">
	                				<li><a href="{% url 'changepassword' %}">Change Password</a></li>
	                				<li><a href="#">Profile Settings</a></li>
	                				<li><a href="{% url 'logout' %}">Logout</a></li> 
	                			</ul>
			      			</li>
		      			{% else %}
			      			<li>
			      				<a href="#myModal" data-toggle="modal">Login
			      				</a>
			      			</li> 
			      			<li>
			      				<a data-toggle="modal" href="#" data-target="#signupModal">Sign Up</a>
			      			</li>
		      			{% endif %}
	                </ul>
	            </div>
	            <!-- /.navbar-collapse -->
	        </div>
        <!-- /.container-fluid -->
    	</nav>
		
		<!-- Sign-up Modal -->
		<div class="modal fade col-md-offset-1" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		    <div class="modal-dialog" role="document">
		        <div class="modal-content col-md-8">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                    <span aria-hidden="true">&times;</span>
		                </button>
		                <center>
		                	<div>
		                		<h4 class="modal-title" id="exampleModalLabel">Sign-up!!</h4>
		                	</div>
		                </center>
		            </div>
		            <div class="modal-body">
		                <form action="#" method="post" class="signupform" role="form">
		                	<div class=" sucessmsg" id="">
		                	</div>
		                	<div class="form-group">
		                        <input class="form-control" name="username" id="username" placeholder="User Name" type="text" />
		                    </div>
		                    <div class="form-group">

		                        <div class="row">
		                            <div class="col-md-6">
		                                <input class="form-control" name="first_name" id="first_name" placeholder="First Name" type="text" required autofocus />
		                            </div>
		                            <div class="col-md-6">
		                                <input class="form-control" name="last_name" id="last_name" placeholder="Last Name" type="text" required />
		                            </div>
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <input class="form-control" name="email" id="email" placeholder="Your Email" type="email" />
		                    </div>
		                    <div class="form-group">
		                        <input class="form-control" name="contactno" id="contactno" placeholder="Contact No" type="text" />
		                    </div>
		                    <div class="form-group">
		                        <input class="form-control" name="password" id="password" placeholder="Password" type="password" />
		                    </div>
		                    <div class="form-group">
		                    	<select name="user_type" id="user_type" class="form-control">
		                    		<option value="">Select</option>
		                    		{% for i in roles %}
		                    			<option value="{{i.id}}">{{i.name}}</option>
		                    		{% endfor %}
		                    	</select>
		                    </div>
		                    <div class="form-group">
		                    	<input type="file" class="form-control" value="profile pic" name="profile_pic" id="profile_pic">
		                    </div>
		                    <div class="form-group">
		                        <center><button class="btn btn-info" type="button" id="signupbtn">
		                        Sign up</button></center>
		                    </div>
							<div class="modal-footer">
	                    		<p>All ready a member? <a id="log-in"> Log-In</a></p>
		                    </div>
		                </form>
		            </div>
		        </div>
		    </div>
		</div>

		{% block header %}
		{% endblock header %}
		<div class="signin" id="signin">
			<div class="container">
				<div class="modal fade col-md-offset-1" id="myModal" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content col-md-8">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="text-center"><b>Login</b></h4>
							</div>
							<div class="modal-body">
								<form action="#" method="post" class="form" role="form">
									{% csrf_token %}
									<form role="form">
										<div class="form-group">
											<div class="row">
												<div class="col-xs-11">
													<label for="username">Username</label>
													<input type="text" class="form-control" name="login_username" id="login_username" placeholder="Enter username/email" required>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-xs-11">
													<label for="psw">Password</label>
													<input type="password" name="login_password" class="form-control" id="login_password" placeholder="Enter password" required>
												</div>
												<span class="pass-login-error error"></span>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<center><button type="button" class="btn btn-info" id="login">Login</button></center>
											</div>
										</div>
									</form>
								</form>
							</div>
							<div class="modal-footer">
								<p>Not a member? <a id="signup" data-toggle="modal">Sign Up</a></p>
								<p>Forgot <a id="forgotpassword" data-toggle="modal">Password?</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- forgot password modal start -->
		<div class="modal fade col-md-offset-1" id="forgotpasswd" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content col-md-8">
				    <div class="modal-header">
				      <button type="button" class="close" data-dismiss="modal">&times;</button>
				      <h4 class="modal-title"><b>Forgot Password</b></h4>
				    </div>
				    <div class="modal-body">
				    	<form action="#" method="post" class="form" role="form">
				    		{% csrf_token %}
				    	<div class="form-group">
		    				<label for="name">Enter Email ID</label>
							<input type="text" name="email" class="form-control" id="emailid" placeholder="Email ID">
				    	</div>
				    	</form>
				    </div>
				    <div class="modal-footer">
				    <center>
				    	<button type="button" class=" btn-info btn  mfooter" id="forgot_password_btn">Submit</button>
				       	<button type="button" class="btn-danger btn  mfooter" data-dismiss="modal">Cancel</button>
				    </center>
				    </div>
				</div>
			</div>
		</div>
		<!-- forgot password modal ends -->
		{% block main-content %}{% endblock main-content %}

		<footer>
			<div class="copyrights">
				<div class="container">
					<p class="text-center">Copyrights © 2016 BookMyEvent All rights reserved</p>
				</div>
			</div>
		</footer>
			
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/bootstrap.js"></script>	
		<script type="text/javascript" src="/static/js/bloodhound.js"></script>
		<script type="text/javascript" src="/static/js/handlebars.js"></script>
		<script type="text/javascript" src="/static/js/typeahead.bundle.js"></script>
		<script type="text/javascript" src="/static/js/typeahead.jquery.js"></script>
		<script type="text/javascript" src="/static/js/datepicker.js"></script> 
		<script src="/static/js/jquery.easing.min.js"></script>
    	<script src="/static/js/jquery.fittext.js"></script>
    	<script src="/static/js/wow.min.js"></script>
		<script src="/static/js/creative.js"></script>
		<script type="text/javascript" src="/static/js/custom.js"></script>
		{% block js %}{% endblock js %}
	</body>
</html>